* {
  font-family:
    'Roboto'
    , 'Times New Roman', Times, serif;
}
body{
  width: 100%;
}

/* ESTAMOS REVISANDO TAMAÑOS DE LOS ELEMENTOS DE WHY CONTAINER, ESTÁBAMOS PROBANDO DAR MEDIDAS A BODY PERO NO FUNCIONA */

.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  padding: 15px;
}

.header .logo {
  height: 25px;
}

.logo-menu {
  height: 20px;
}

.main .hero {
  background-color: #529cf1;
  height: 50vh;
  color: white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
}

.main .titulo {
  font-size: 40px;
  font-weight: bolder;
  line-height: 45px;
}

.main .button {
  background-color: #26b758;
  color: white;
  border-radius: 25px;
  border: none;
  width: 300px;
  height: 50px;
  font-size: 15px;
}

.main .text {
  font-size: 20px;
  font-weight: bolder;
  line-height: 25px;
}

.main .text-small {
  font-size: 10px;
  line-height: 15px;
}

.why {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.why .title {
  margin: 50px;
  font-weight: 900;
  font-size: 27px;
  text-align: center;
}

.why .container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.why .container .icon {
  display: flex;
  flex-grow: 1;
  
}

.why .container .text {
  display: flex;
  flex-grow: 4;

}

@media all and (min-width: 480px) {

.main .hero {
  background: #529cf1 url("../images/premium_dancer.png") no-repeat right;
  background-size: contain;
}

}